.colaborador {
  background-color: #ffffff;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.025);
  display: inline-block;
  /* overflow: hidden; */
  position: relative;
  margin: 16px;
  width: 260px;
}

.colaborador .imagem-colaborador {
  border-radius: 10px 10px 0 0;
  height: 100px;
  margin: 0;
  margin-bottom: 70px;
}

.colaborador .imagem-colaborador img {
  border-radius: 50%;
  bottom: -40px;
  height: 120px;
  position: relative;
  transition: all 0.25s ease;
  width: 120px;
}

.colaborador .imagem-colaborador:hover img {
  transform: scale(1.15);
}

.colaborador h4 {
  font: 600 18px "Montserrat", sans-serif;
  margin: 0;
}

.colaborador h4 a {
  color: #6278f7;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.colaborador h4 a:hover {
  color: #95ffd4;
}

.colaborador h5 {
  color: #212121;
  font: normal 16px "Montserrat", sans-serif;
  margin: 10px 0 30px;
}

.deletar {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: -10px;
  transition: all 0.25s ease;
}

.colaborador:hover .deletar {
  opacity: 1;
}
