.time {
  padding: 32px;
  text-align: center;
}

.time h3 {
  border-bottom: 4px solid transparent;
  display: inline-block;
  font: normal 32px "Prata", serif;
  padding-bottom: 8px;
}

.time .colaboradores {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
}
